<div id="Leftbar"></div>
<div id="Rightbar">
    <h3>发帖提示：</h3>
    <li>a</li>
    <li>a</li>
    <li>a</li>

</div>
<div id="content">
    <div id="create_box">
        <div id="create_header">创作新主题</div>
        <form method="post" id="create_form">
            <p>主题标题</p>
            <textarea form="create_form" name="title" id="create_body_title" class="create_body" rows="1" autofocus="autofocus"></textarea>
            <p>正文</p>
            <textarea form="create_form" name="content" id="create_body_content" class="create_body" ></textarea>
            <div id="create_leaf"> select 框</div>
            <div id="create_footer"><input type="submit" value="发布主题"> </div>
        </form>

    </div>
</div>