$def with(info)
$var title = 'V2EX > 登录'

<div id="Leftbar"></div>
<div id="Rightbar">
    <p>登录</p>
    <p>right bar</p>
</div>
<div id="content">
    <div id="signin_box_header"> 登录</div>

    <div id="signin_box_body">
        $if info:
            <div id="signin_error">$info</div>
        <form id="signin_form" method="POST">
            <table>
                <tr><td>用户名</td><td><input name="username"></td></tr>
                <tr><td>密码</td><td><input name="password" type="password"></td></tr>
                <tr><td><input type="submit" value="登录" id="signin_submit"></td></tr>
            </table>
        </form>
    </div>
</div>